<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.compclub.compclubgui" android:versionCode="1" android:versionName="0.0.1">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="CompClubGUI" android:icon="@drawable/Icon" />
</manifest>